[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{ ansible_tower_setup_admin_password }}'

pg_host=''
pg_port=''

pg_database='{{ ansible_tower_setup_pg_database }}'
pg_username='{{ ansible_tower_setup_pg_username }}'
pg_password='{{ ansible_tower_setup_pg_password }}'

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password='{{ ansible_tower_setup_rabbitmq_pass }}'
rabbitmq_cookie=cookiemonster

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name=false
